
@{
    ViewData["Title"] = "Galeri";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Galeri</h1>
<iframe  src="https://www.youtube.com/embed/zAQPxkd7OLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe  src="https://www.youtube.com/embed/b--q6Fsf_cA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="~/image/resim1.jpeg" />
<img src="~/image/resim2.jpeg" />
<img src="~/image/resim3.jpeg" />
<img src="~/image/resim4.jpeg" />
<img src="~/image/resim5.jpeg" />
<img src="~/image/resim6.jpeg" />
<img src="~/image/resim7.jpeg" />
<img src="~/image/resim8.jpeg" />
<img src="~/image/resim9.jpeg" />
<img src="~/image/resim10.jpeg" />





