@model IEnumerable<OmerIRMAKWEB.APP.Models.Baslangic>

@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Anasayfa</h1>

<p>
  
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.KarsilamaMetni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KarsilamaResmi)
            </th>*@
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KarsilamaMetni)
            </td>
            <td>
                <img src="~/image/@Html.DisplayFor(modelItem => item.KarsilamaResmi)"/>
            </td>
            
           
        </tr>
}
    </tbody>
</table>
